---
title: Home
permalink: /
author: Jane Doe
layout: base
---

<p>This is the <strong>{{ title }}</strong> page.</p>

<footer>
  <hr/>
  <p>Author: {{ author }}</p>
  <p>Permalink: {{ page.url }}</p>
</footer>
